@import "./base.css";

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (min-width: 813px) {
    main {
        height: calc(100vh - 88px);
      }
}

@media (max-width: 812px) {
    .main__div {
        padding: 3rem 0;
      }
}

.button {
  background-color: #0a720f;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.button:hover {
  background-color: #095e0d;
}

.w-75 {
  width: 75%;
}